* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
header {
    height: 48px;
    background-color: lightcyan;
}
p.header-logo {
    font-size: 24px;
    text-align: center;
}
#photo-area.viewport {
    width: 320px;
    height: 240px;
}
#photo-area.viewport canvas, video {
    float: left;
    width: 320px;
    height: 240px;
}
#photo-area.viewport canvas.drawingBuffer, video.drawingBuffer {
    margin-left: -320px;
}