#photo-area.viewport {
    width: 100%;
    height: auto;
 }
 #photo-area.viewport canvas, video {
    width: 100%;
    height: auto;
 }
 #photo-area.viewport canvas.drawingBuffer, video.drawingBuffer {
    margin-left: -100%;
 }
